{#
/**
 * @file
 * Header template for UC Davis CPE theme.
 *
 * Available variables:
 * - page: A list of regions for this page
 * - enquire_link: Custom enquire link variable
 */
#}
<header>
  {{ page.top_header }}
  
  <nav class="ucd-navbar" aria-label="Main site navigation">
    <div class="container-fluid">
      {% if page.site_branding %}
        {{ page.site_branding }}
      {% else %}
        <a class="navbar-brand" href="{{ url('<front>') }}" aria-label="Go to UCDavis homepage">
          <img src="{{ base_path ~ directory }}/images/UC Davis Logo.png" alt="UC Davis Logo">
        </a>
      {% endif %}

      {# Desktop Navigation Menu #}
      {% if page.primary_menu %}
        {{ page.primary_menu }}
      {% else %}
        <ul class="ucd-navbar-nav">
          <li class="ucd-nav-item"><a class="ucd-nav-link" href="" aria-label="Visit Page {{ 'Our Programs' }}">{{ 'Our Programs'|t }}</a></li>
          <li class="ucd-nav-item"><a class="ucd-nav-link" href="" aria-label="Visit Page {{ 'Organizational Training' }}">{{ 'Organizational Training'|t }}</a></li>
          <li class="ucd-nav-item"><a class="ucd-nav-link" href="" aria-label="Visit Page {{ 'Campus Partnerships' }}">{{ 'Campus Partnerships'|t }}</a></li>
          <li class="ucd-nav-item"><a class="ucd-nav-link" href="" aria-label="Visit Page {{ 'Why Choose Us' }}">{{ 'Why Choose Us'|t }}</a></li>
        </ul>
      {% endif %}

      {# Header Form or Default CTA Button #}
      {% if page.header_form %}
        {{ page.header_form }}
      {% else %}
        <a href="#" class="ucd-btn yellowBtn desktop-only" aria-label="Start a Conversation" role="button">
          {{ 'Start a Conversation'|t }}
        </a>
      {% endif %}

      {# Mobile Menu Toggle Button #}
      <button class="ucd-navbar-toggler" id="navToggler" aria-label="Toggle navigation" aria-expanded="false">
        <div class="ucd-navbar-toggler-icon">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>
    </div>
  </nav>

  {# Mobile Menu #}
  <div class="ucd-mobile-menu" id="mobileMenu">
    <div class="ucd-mobile-menu-header">
      {% if page.site_branding %}
        {{ page.site_branding }}
      {% else %}
        <a href="{{ url('<front>') }}" aria-label="Go to UCDavis homepage">
          <img src="{{ base_path ~ directory }}/images/UC Davis Logo.png" alt="UC Davis Logo">
        </a>
      {% endif %}
      <button class="ucd-btn-close" id="closeMenu" aria-label="Close">&times;</button>
    </div>
    <div class="ucd-mobile-menu-body">
      {# Mobile Navigation Menu #}
      {% if page.primary_menu %}
        {{ page.primary_menu }}
      {% else %}
        <ul class="ucd-navbar-nav">
          <li class="ucd-nav-item"><a class="ucd-nav-link" href="" aria-label="Visit Page {{ 'Our Programs' }}">{{ 'Our Programs'|t }}</a></li>
          <li class="ucd-nav-item"><a class="ucd-nav-link" href="" aria-label="Visit Page {{ 'Organizational Training' }}">{{ 'Organizational Training'|t }}</a></li>
          <li class="ucd-nav-item"><a class="ucd-nav-link" href="" aria-label="Visit Page {{ 'Campus Partnerships' }}">{{ 'Campus Partnerships'|t }}</a></li>
          <li class="ucd-nav-item"><a class="ucd-nav-link" href="" aria-label="Visit Page {{ 'Why Choose Us' }}">{{ 'Why Choose Us'|t }}</a></li>
        </ul>
      {% endif %}
      
      {# Mobile Header Form or Default CTA Button #}
      {% if page.header_form %}
        {{ page.header_form }}
      {% else %}
        <a href="#" class="ucd-btn yellowBtn" aria-label="Start a Conversation" role="button">
          {{ 'Start a Conversation'|t }}
        </a>
      {% endif %}
    </div>
  </div>
</header>
