{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link URL, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/3.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{# {% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass('mega-menu max-mega-menu mega-menu-horizontal') }} id="mega-menu-menu-1-mobile">
    {% else %}
      <ul>
    {% endif %}
    {% for item in items %}
      <li{{ item.attributes }}>
        {{ link(item.title, item.url) }}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %} #}


{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul class="mega-menu max-mega-menu mega-menu-horizontal"

          style="width: 320px; left: -243px;" id="mega-menu-menu-1-mobile">
    {% else %}
      <ul class="mega-sub-menu" role="presentation">
    {% endif %}
      {% for item in items %}
        {# Build your class list based on your item attributes or custom fields #}
        <li class="mega-menu-item {{ item.type }} {{ item.id }} {% if item.below %}mega-menu-item-has-children{% endif %}" id="mega-menu-item-{{ item.id }}">
          <a class="mega-menu-link" href="{{ item.url }}">{{ item.title }}
            {% if item.below %}
              <span class="mega-indicator" aria-hidden="true"></span>
            {% endif %}
          </a>
          {% if item.below %}
            {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
