{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{# Add class to body #}
{%
  set body_classes = [
    not root_path ? 'homepage' : 'site-page',
    node_type ? 'page-type-' ~ node_type|clean_class,
    logged_in ? 'user-logged-in' : 'user-guest',
    not page.sidebar_first and not page.sidebar_second ? 'no-sidebar',
    page.sidebar_first and not page.sidebar_second ? 'one-sidebar sidebar-left',
    page.sidebar_second and not page.sidebar_first ? 'one-sidebar sidebar-right',
    page.sidebar_first and page.sidebar_second ? 'two-sidebar'
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    
    {# Preload critical fonts - Proxima Nova from Adobe Fonts #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://use.typekit.net" crossorigin>
    
    {# Preload main fonts used in your CSS #}
    {# <link rel="preload" href="https://use.typekit.net/af/5a5e45/000000000000000000010177/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="https://use.typekit.net/af/0d3f6f/000000000000000000010178/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3" as="font" type="font/woff2" crossorigin> #}
    
    {# Font stylesheets #}
    <link rel="stylesheet" href="https://use.typekit.net/kok0sfw.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    {# Viewport meta tag for responsive design #}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
  </head>
  <body{{ attributes.addClass(body_classes) }}>
    {#
      Keyboard navigation/accessibility link to main content section in
      page.html.twig.
    #}
    <a href="#main-content" class="skip-link" aria-label="Skip to Main content">
      {{ 'Skip to main content'|t }}
    </a>
    
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    
    <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>
